<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <search>
        <!-- EXTEND SEARCH PIPELINE
             This processor executes search expressions that use the Sitecore.ContentSearch indexes when the Search.UseLegacySearchEngine setting is set to false.
        -->
        <processor patch:instead="*[@type='Sitecore.ContentSearch.Client.Pipelines.Search.SearchContentSearchIndex, Sitecore.ContentSearch.Client']" type="Sitecore.Support.ContentSearch.Client.Pipelines.Search.SearchContentSearchIndex, Sitecore.Support.94749" />
      </search>
    </pipelines>
  </sitecore>
</configuration>
